.button-parent {
    .basic {
        display: block;
        width: 12rem;
        height: 4rem;
        background-color: #888;
        color: #DDD;
        &:hover {
            background-color: #555;
        }
        &:focus {
            background-color: #333;
        }
        cursor: pointer;
    }
}
